*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color:RGB(68, 68, 68);
    row-gap: 30px;
}
.header{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.logos{
    width: 25%;
    display: flex;
}
.logos img{
    margin-top: 20px;
    width:50%;
}
.logo_text{
    padding-left: 15px;
    border-left: 1px solid;
    width: 50%;
}
.logo_text p{
    position: relative;
    top: 25px;
    margin-left: 0;
}
.logo_text h1{
    color: rgb(105,20,239);
    font-size: 22px;
    font-weight: 400;
    position: relative;
    top: 20px; 
}
.menus{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menus span{
    margin-top: 40px;
}
.text_video{
    position: relative;
    top: 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.text{
    width: 50%;
    font-family: sans-serif;
}
.text h1{
    font-size: 36px;
    font-weight: 400;
    line-height:44px;
    padding-top:89px;
    text-align: center;
}
.text h3,p{
    font-size: 15px;
    margin-left: 40px;
    line-height: 25px;
}
.video video{
    width: 100%;
    border-radius: 17px;
}
.nav2{
    position: relative;
    top: 100px;
    width:80%;
}
.nav2_h3_text{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
}
.nav2_h3_text p{
    margin-left: 0px;
}
.img_sec1{
    border-radius:10px;
    border: 1.5px solid rgb(214, 205, 205);
    position: relative;
    top: 120px;
    display: grid;
    grid-template-columns: 0.3fr 1.8fr 1fr;
    grid-template-rows: 400px;
    column-gap: 10px;
    width: 80%;
}
.img_sec1_img img{
    padding: 20px 10px;
    border-radius: 35px;
    height: 360px;
}
.img_sec1_text h2{
    position: absolute;
    top: 30px;
}
.img_sec1_text h4{
    position: relative;
    top: 70px;
    padding: 15px;
}
.img_sec1_h4{
    display: flex;;
}
.img_sec1_text p{
    position: relative;
    top: 100px;
}
.img_sec1_booking{
    height: 300px;
    position: relative;
    top: 30px;
    border-left:1.5px dotted;
    line-height: 30px;
    padding-left: 50px
}
.img_sec1_booking button{
    width: 90%;
    margin: 18px 0;
    height: 50px;
    background-color:rgb(128,0,255);
    border-style: none;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}
.img_sec1_booking p{
    margin-left: 0;
}
.insta_videos{
    background-color:rgb(248,246,255) ;
    width: 100%;
    position: relative;
    top: 150px;
}
.insta_video_text{
    width: 90%;
    height: 100px;
    display: flex;
    position: relative;
    left: 160px;
    top: 70px;
}
.insta_video_layout{
    width: 80%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 20px;
    position: relative;
    left: 140px;
    top: 20px;
    justify-content: space-evenly;
}
.insta_video_layout video{
    border-radius: 45px;
    width:190px;
    height: 250px;
    
}
.para{
    width: 80%;
    position: relative;
    top: 200px;
}
.para_child h1{
    position: relative;
    top: 30px;
    font-size: 24px;
    font-weight: 500;
}
.para_child :nth-child(2){
top: 55px;
}
.para_child :nth-child(3){
    top: 70px;
}
.para_child :nth-child(4){
    top: 90px;
}
.para_child :nth-child(5){
    top: 110px;
}
.para_child h4{
    position:relative;
    top: 50px;
    line-height: 30px;
    font-size: 17px;
    font-weight: 300;
}.youtube_video{
    width: 100%;
    height: 800px;
    position: relative;
    top: 250px;
    background-color: rgb(248,248,248);
}
.youtube_video_child{
    width: 80%;
    position: absolute;
    top: 60px;
    left: 100px;
}
.pic_cards{
    width: 80%;
    position: relative;
    top: 300px;
}
.pic_cards_text{
    width: 100%;
    height: 50px;
}
.pic_cards_card{
    width: 100%;
    height: 540px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
}
.pic_cards_card_child{
    margin-top: 20px;
    height: 450px;
    box-shadow:  5px 5px 24px #676767,
             -5px -5px 24px #ffffff;
    border-radius: 15px;
}
.pic_cards_card_child img{
    width: 100%;
    position: relative;
    bottom: 20px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.pic_cards_card_child h2{
    position: relative;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    font-weight: 500;
}
.pic_cards_card_child h4{
    display: inline;
    font-size: 15px;
    font-weight: 300;
}
.pic_text{
    padding-left: 20px;
}
.pic_cards_para{
    width: 90%;
    height: 300px;
    position: relative;
    left: 50px; 
}
.pic_cards_para h2{
    padding: 20px 40px;
}
.ticket_campare{
    width: 100%;
    height: 910px;
    background-color: rgb(248,248,248);
    position: relative;
    top: 300px;
}
.ticket_campare_text1{
    width:80%;
    position: absolute;
    left: 150px; 
}
.ticket_campare_pic{
    width: 80%;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    column-gap: 20px;
    position: relative;
    top: 70px;
    left: 150px;
}
.ticket_campare_pic img{
    width: 100%;
    border-radius: 10px;
}
.ticket_campare_text2{
    width:80%;
    position: relative;
    top: 90px;
    left: 150px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.ticket_campare_sec1{
    width: 80%;
    position: relative;
    left: 150px;
    top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    column-gap: 20px;
}
.ticket_campare_table{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
    left: 10px;
    display: grid;
}
.ticket_campare_table h4{
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}
.ticket_campare_table h2{
    font-size: 19px;
    font-weight: 500;
    line-height: 25px;
}
button{
    width: 300px;
    height: 45px;
    margin-top: 20px;
    background-color: rgb(128,0,255);
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 12px;
}
.ticket_choosing{
    width: 80%;
    position: relative;
    top: 320px;
}
.ticket_choosing h1{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 500;
}
.ticket_choosing h2{
    line-height: 70px;
    font-size: 18px;
    font-weight: bolder;
}
.ticket_choosing h4{
    line-height: 30px;
    font-size: 17px;
    font-weight: 300;
}
.floors{
    width: 100%;
    height: 600px;
    position: relative;
    top: 550px;
}
.floors_head{
    width: 80%;
    position: relative;
    left: 160px;
    top: 20px;
}
.floors_child{
    width: 80%;
    position: relative;
    left: 160px;
    top: 55px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 15px;
}
.floor_card img{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.floor_card{
    border-radius: 10px;
    box-shadow:  5px 5px 24px #676767,
    -5px -5px 24px #ffffff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.restaurants{
    width: 100%;
    height: 600px;
    position: relative;
    top:580px;
}
.restaurants_head{
    width: 80%;
    position:absolute;
    left: 160px;
}
.restaurants_child{
    width: 80%;
    position:absolute;
    left: 160px;
    top: 130px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;

}
.restaurants_child img{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.restaurants_child h1{
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 500;
}
.restaurants_child h4{
    margin: 10px 20px;
    font-size:15px;
    font-weight: 300;
    line-height: 21px;
}
.restaurants_child_text{
    border-radius: 10px;
    box-shadow:  5px 5px 24px #676767,
    -5px -5px 24px #ffffff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.restaurants_footer{
    width: 80%;
    position: relative;
    top: 720px;
    left: 150px;
    font-size:23px;
    font-weight: 300;
}
.visting_plan{
    width: 100%;
    height: 590px;
    background-color:rgb(248,248,248);
    position: relative;
    top: 800px;
}
.visting_plan_head{
    width: 50%;
    position: absolute;
    left: 150px;
    top: 40px;
}
.visting_plan_head_child1{
    width: 45%;
    position: absolute;
    left: 150px;
    top: 100px;
    display: flex;
    justify-content: space-between;
}
.visting_plan_head_child1 span{
    padding-top: 20px;
}
.visting_plan_img{
    width: 80%;
    position: absolute;
    top: 160px;
    left: 150px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.visting_plan_img_child img{
    width:100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.visting_plan_img_text{
    display: grid;
    grid-template-rows: repeat(4,0.19fr);
    position: relative;
    left: 40px;
    top: 30px;
    font-size:18px;
    font-weight:500;
}
.beyound{
    width: 80%;
    position: relative;
    top: 800px;
}
.beyound_head{
    width: 70%;
    margin-bottom: 15px;
    line-height: 35px;
}
.beyound_card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
}
.beyound_card img{
    width:100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.beyound_card h2{
    padding: 10px;
}
.beyound_card_span{
    line-height: 22px;
}
.beyound_card div{
    border-radius: 10px;
    box-shadow:  5px 5px 24px #676767,
    -5px -5px 24px #ffffff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.QA_of_ticket{
    width: 80%;
    height: 300px;
    position: relative;
    top: 850px;
}
.answer{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(14,0.1fr);
}
.answer div{
    padding: 20px;
    font-size:18px;
    font-weight: 500;
    border-bottom: 1px solid rgb(241, 236, 236);
}
.footer_sec1{
    position: relative;
    top: 1650px;
    display: grid;
}
.quick_link{
    width: 80%;
    height: 200px;
    position: relative;
    left: 150px;
    top: 80px;
}
.quick_link_header{
    font-size: 18px;
    font-weight: 500;
    margin-left: 14px;
    margin-bottom: 5px;
}
.quick_links{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}
.quick_links_sec{
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
}
.quick_links_sec h4{
    margin: 0 15px;
    font-size: 15px;
    font-weight: 300;
}
.footer2{
    width: 100%;
    background-color: black;
    position: relative;
    top: 1870px;
    color: white;
}
.footer2_child1{
    width: 80%;
    height: 300px;
    position: relative;
    top: 50px;
    left: 150px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 80px;
}
.footer2_child1_text1{
    width: 100%;
    display: flex;
    margin-left: 1px;
}
.footer2_child1_text1 img{
    margin-top: 20px;
    width:20%;
    height:45px;
}
.footer2_child1_text1{
    height: 70px;
    position: relative;
    top: 10px;
    
}
.footer2_child1_text1 p{
    margin-left: 0;
}
.footer2_child1_text2{
    width: 100%;
    border-left: 1px solid black;
    position: relative;
    top: 10px;
}
.footer2_child1_text3{
    position: relative;
    top: 35px;
    font-size: 13px;
    font-weight: 300;
    color: white;
}
.footer2_child2_sec1{
    position: relative;
    top: 50px;
    line-height: 35px;
}
.footer2_social_media{
    width: 80%;
    position: relative;
    left:150px;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}